.add{
    background: url("/Extjs-Study-Coding/assets/img/add.png");
}
.delete{
    background: url("/Extjs-Study-Coding/assets/img/delete.png");
}
.refalsh{
    background: url("/Extjs-Study-Coding/assets/img/reflash.png");
}
.submit{
    background: url("/Extjs-Study-Coding/assets/img/sousuo.png");
}
.top-monitor{
    background: url("/Extjs-Study-Coding/assets/img/top-monitor.png");
}
.createFile{
    background: url("/Extjs-Study-Coding/assets/img/folder/folder_add.png");
}
.deleteFile{
    background: url("/Extjs-Study-Coding/assets/img/folder/folder_delete.png");
}
.saveFile{
    background: url("/Extjs-Study-Coding/assets/img/folder/folder.png");
}